<%- include ('partials/_header')%>
<!-- LIST -->
<div class="col-md-8">
    <form action="/info" method="GET">
        <table class="table table-bordered table hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Country</th>
                </tr>
    
            </thead>
            <tbody>
                <% for (let i = 0; i < saveInfo_.length; i++) { %>
                    <tr>
                        <td><%= i + 1 %></td>
                        <td><%= saveInfo_[i].name %></td>
                    </tr>
    
                <% } %>
                
    
            </tbody>
    
        </table>
    </form>
    
</div>


<%- include ('partials/_footer')%>